---
layout: page
# All the Tags of posts.
---

<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.3/jqcloud.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.3/jqcloud.min.css">

<script>
  function showWordCloud(wordStr) {
    wordStr = wordStr.replace(/'/g, "\"");
    wordStr = wordStr.replace(/}{/g, '}, {');
    wordStr = `[${wordStr}]`;
    const words = JSON.parse(wordStr);
    $('#wordcloud').jQCloud(words, {
      'shape': 'elliptic',
    });
  }
</script>

<div id="wordcloud" style="height: 400px; width: 90%"></div>

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% assign words = '' | split: '' %}

  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
    {% assign tag_slug = t[0] | sluggify %}
    {% assign weight = site.tags[tag_slug] | size | plus: 0 %}
    {% assign title = t[0] %}
    {% assign new_word = '{"text": "' | append: title | append: '", "weight": ' | append: weight | append: '}' %}
    {% assign words = words | push: new_word %}

    {% if forloop.last%}
    {% endif %}
  {% endfor %}

  <script>showWordCloud('{{ words }}')</script>


  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
  <div>
    <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
      {{ t -}}
      <span class="text-muted">{{ site.tags[t].size }}</span>
    </a>
  </div>
  {% endfor %}
</div>
